[Unit]
Description=Huandan Server (FastAPI)
After=network.target

[Service]
EnvironmentFile=/etc/huandan.env
WorkingDirectory=%E{HUANDAN_BASE}
ExecStart=%E{HUANDAN_BASE}/.venv/bin/python %E{HUANDAN_BASE}/run.py
Restart=always
RestartSec=2
User=huandan
Group=huandan

# 基础加固
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true
RestrictSUIDSGID=true
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
